
body {
  text-align: center;
}


#home{
  background:url(../src/images/Santorini.jpg) top right ;
  background-repeat: no-repeat; 
  background-attachment:fixed; 
  background-size: cover;

}

.name-title{
  position: relative;
  display: grid;
  top: 20em;
}

.front {
    padding: 60px;
    height: 100vh;
}


.ButtonAppBar-root-1{ 
  transition: all 0.5s ease;
} 
.ScrollUp{
  transition: all 0.5s ease;
  transform: translateY(-80px);
}
