
body {
  text-align: center;
}


#home{
  background:url(../src/images/Santorini.jpg) top right ;
  background-repeat: no-repeat; 
  background-attachment:fixed; 
  background-size: cover;

}

.name-title{
  position: relative;
  display: grid;
  top: 20em;
}

.front {
    padding: 60px;
    height: 100vh;
}


nav{ 
  position: fixed;
  transition: all 0.5s ease;
} 
nav.ScrollUp{
  transform: translateY(-80px);
}
nav.ScrollDown{
  transform: translateY(0px);
}

nav:hover{
  transform: translateY(0px);
}
